<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>March 31</td><td>Course overview, Pi Calculator</td></tr>
      <tr> <td>April 2</td>  <td>Modularity and Testing</td> </tr>
      <tr> <td>April 7</td> <td>Local Version with git</td> </tr>
      <tr> <td>April 9</td>  <td>GitHub: Collaborating with Yourself</td> </tr>
      <tr> <td>April 14</td>  <td>Code Review and Developer Tools</td> </tr>
      <tr> <td>April 16</td>  <td>Bayesian Inference</td> </tr>
      <tr> <td>April 21</td>  <td>GitHub: Collaborating with People You Trust</td> </tr>
      <tr> <td>April 23</td>  <td>Project and Time Management</td> </tr>
      <tr> <td>April 28</td>  <td>Collaboration Workshop</td> </tr>
      <tr> <td>April 30</td>  <td>Communication</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>May 5</td>  <td>Elevator Pitch Workshop</td> </tr>
      <tr> <td>May 7</td>  <td>Group Project Presentations</td> </tr>
      <tr> <td>May 12</td>  <td>Rapid Prototyping, Continuous Integration</td> </tr>
      <tr> <td>May 14</td>  <td>Stress Testing Results</td> </tr>
      <tr> <td>May 21</td>  <td>Ethics, Finding an Internship</td> </tr>
      <tr> <td>May 26</td>  <td>Flex Day</td> </tr>
      <tr> <td>May 28</td>  <td>Presentations</td> </tr>
      <tr> <td>June 2</td>  <td>Presentations</td> </tr>
      <tr> <td>June 4</td>  <td>Presentations</td> </tr>
    </table>
  </div>
</div>
